<main class="bg-gradient-to-r from-[#545454] to-[#818181] w-full h-[100vh] overflow-y-scroll">
    <section>
        <section>
            <h1 class="font-Artifika text-[30px] text-white text-center py-[10px] md:p-[50px] md:text-start py-[50px]">History</h1>
        </section>
        <section class="font-Artifika text-white min-w-[50%] max-w-[70%] flex justify-center items-center text-center mx-auto">
            <p class="text-[20px]">Art history is the study of aesthetic objects and visual expression in historical and stylistic 
                context.Traditionally, the discipline of art history emphasized painting, drawing, sculpture,
                architecture, ceramics and decorative arts;
                yet today, art history examines broader aspects of visual culture, including the various 
                visual and conceptual outcomes related to an ever-evolving definition of art.
                Art history encompasses the study of objects created by different cultures around the world
                and throughout history that convey meaning,
                mportance or serve usefulness primarily through visual representations.</p>
        </section>
    </section>
    <section class="mt-[5%] md:my-[1%]">
        <section>
            <h1 class="font-Artifika text-[30px] text-white text-center py-[10px] md:p-[50px] md:text-start">My favorite Artists</h1>
        </section>
        <section class="flex flex-wrap p-[5px] justify-center">
            <a href="https://en.wikipedia.org/wiki/Vincent_van_Gogh"><img src="../../assets/images/Self-Portrait-artist-panel-board-Vincent-van-Gogh-1887.jpg.webp" alt="Vincent van gogh" title="Van Gogh" class="rounded-lg h-[50vh] flex mx-[20px] my-[20px]"></a>

            <a href="https://en.wikipedia.org/wiki/Rembrandt"><img src="../../assets/images/rembrandt.jpg" alt="rembrandt" title="rembrandt" class="rounded-lg h-[50vh] flex mx-[20px] my-[20px]"></a>

            <a href="https://en.wikipedia.org/wiki/Albrecht_Dürer"><img src="../../assets/images/licensed-image.jpeg" alt="Albrecht durer" title="Albrecht Durer" class="rounded-lg h-[50vh] flex mx-[20px] my-[20px]"></a>
        </section>
    </section>
</main>