<main class="bg-cover bg-center h-[100vh] w-full flex items-center justify-center" style="background-image: url(../../assets/images/tumblr_5fad7eb6aac664ada3cc54669644f567_8757ef1b_540.gif);">
    <section class="bg-[#D9D9D9] bg-opacity-60 min-w-[50%] max-w-[100%] flex flex-col flex-wrap justify-center text-center items-center h-[50vh]">
        <section class="flex items-center">
            <img src="../../assets/images/352510_local_phone_icon.png" alt="Phone" class="h-[7vh] mx-[10px]">
            <h3 class="font-Artifika text-xl flex">(+995) 555 992 212</h3>
        </section>
        <section class="flex items-center my-[30px]">
            <img src="../../assets/images/134146_mail_email_icon.png" alt="Mail" class="h-[6vh] mx-[10px]">
            <h3 class="font-Artifika text-xl flex">lazaremirziashvili8gmail.com</h3>
        </section>
        <section  class="flex my-[30px]">
            <a href="https://www.upwork.com/freelancers/~010044c3155b0d8c4e"><img src="../../assets/images/1929178_upwork_icon.png" alt="Upwork" class="mx-[7px]"></a>
            <a href="https://github.com/aponchikaj"><img src="../../assets/images/211904_social_github_icon.png" alt="github" class="mx-[7px]"></a>
            <a href="https://www.linkedin.com/in/lazare-mirziashvili-069672306/"><img src="../../assets/images/104493_linkedin_icon.png" alt="LinkedIn" class="mx-[7px]"></a>
        </section>
    </section>
</main>