@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

@layer {
    @font-face {
      font-family: 'Artifika';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./assets/font/Artifika/Artifika-Regular.ttf);
    }
}